@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */
@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/basic/EurostileLTProUnicode.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* @media (prefers-color-scheme: dark) { */
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
/* } */
/* html.dark {
  --background:rgb(10, 10, 10);
  --foreground: #ededed;
}

html.light {
  --background: #ffffff;
  --foreground: #000000;
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: MyCustomFont, Arial, Helvetica, sans-serif; */
  line-height: 1;
}
